@import url('https://fonts.googleapis.com/css?family=Kanit');


body{
	font-family: 'Kanit', monospace;
	background-color: #eae8dc;
}


.modal-active {
    display: initial !important;
}

#masque-opaque{
	display: none;
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: rgba(255,255,255,0.8);
	z-index: 1000;
}


#masque-opaque a{
	position: absolute;
}

.popup{
	text-align: center;
	font-size: 30px;
	margin: 10% auto;
	border-radius: 8px;
	background-color: white;
	width: 600px;		
	height: 400px;
	display: flex;
	flex-direction: column;
	animation: grow 0.5s ease-out;
}

@keyframes grow{
    from {
    	transform: scale(0.9, 0.9);
        opacity: 0;
    }
    to{
    	opacity: 1;
    }
}



.final-gif{
	display: none;
	margin: auto;
}

.gif-active{
	display: inline;
}

#gifWin{
	width: 400px;
}

#gifLoose0,#gifLoose1,#gifLoose2,#gifLoose3{
	width: 270px;
}


#replay_button{
	margin: 0 auto;
	margin-top: 415px;
	margin-left: 174px;
}

#title{
	font-size: 45px;
	text-align: center;
}

#logo{
	width: 200px;
	height: 125px;
	position: fixed;
	top:0px;
	left: 0px;
}

#erlenmeyer{
	width: 80px;
	height: 100px;
	position: fixed;
	bottom: 6px;
	right: 3px;
}

#smoke{
	width: 100px;
	height: 136px;
	position: fixed;
	bottom: 90px;
	right: -6px;
}

#wrapper{
	display: flex;
	height: 534px;
	flex-direction: column;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}

#quotes{
	text-align: center;
}

#quote{
	margin: 5% auto;
	color: white;
	font-size: 20px;
	background-color:#538745;
/*	max-width: 450px;*/
	display: inline;
	padding: 10px;
	line-height: 40px;
}
#form{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
}

#characters{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#arrow{
	position: absolute;		
	width: 44px;
	left: 280px;
	top: 6px;
	pointer-events: none;
}

#selector{
	font-family: 'Kanit', monospace;
	background: #538745;
	color: white;
	-webkit-appearance: none;
	/*border: 2px solid;*/
	border-radius: 8px;
	width: 335px;
	height: 57px;
	font-size: 14pt;
	padding: 2pt;
	/*font-family: inherit;*/
}

.character-picture{
	display: none;
	height: 230px;
	margin-top: -90px;
	margin-left: 60px;
	margin-right: auto;
	animation: slide 0.5s ease-out;
}

#unknown{
	animation: none;
}

@keyframes slide{
	from{
		transform: translateX(20px);
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.picture-active{
	display: inline;
}


#buttons{
	margin: 0 auto;
}

.bold{
	width: 250px;
	height: 50px;
	background: none;
	font-size: 30px;
	font-family: 'Kanit', monospace;
	border-radius: 10px;
	border: 2px solid #538745;
	color: #538745;
	transition: background-color .5s;

}

#inputSubmit2{
	width: 300px;
}

.bold:hover{
	background-color: #538745;
	color:white;
}

@media (max-width: 768px){

.popup{
	width: 280px;		
	height: 500px;
}

.final-gif{
	width: 270px;
}


#replay_button{
	margin-left: 14px;
	margin-top: 505px;
}

#title{
	margin-top: 55px;
}

#logo{
	width: 100px;
	height: 62px;
}

#erlenmeyer{
	width: 40px;
	height: 50px;
}

#smoke{
	width: 50px;
	height: 68px;
	bottom: 47px;
	right: -1px;
}

#wrapper{
	justify-content: space-evenly;
}

#form{
	height: 370px;
}

#characters{
	height: 209px;
	margin: auto;
	flex-direction: column;
	justify-content: space-between;
}

@keyframes slide{
	from{
		transform: translateX(10px);
		opacity:0;
	}
}


#selector{
	width: 200px;
	height: 50px;
}

#arrow{
	width: 22px;
	left: 174px;
	top: 28px;
}

.character-picture{
	height: 130px;
	margin-top: 0px;
	margin-left: 0px;
}

#images{
	margin: auto;
}

#buttons{
	display: flex;
	flex-direction: column;
}

#inputSubmit{
	width: 300px;
}

}
